@model Core_Project.Models.CategoryViewModel
@*@{
        ViewData["Title"] = "EditProduct";
    }*@



<!-- add Item -->
<link rel="stylesheet" href="css/style.css">

<div class=" container">
    <form class="add-product" method="post" enctype="multipart/form-data">
        @*<input hidden asp-for="Product.Id" />*@
        <input hidden asp-for="Product.Id" />

        

        <section class="tabs">
            @*<div class="tabs__headers">
                    <div class="tabs__header active">
                        English
                    </div>
                    <div class="tabs__header">
                        Arabic
                    </div>

                </div>*@
            <div class="tabs__bodies">
                <div class="tabs__body active">



                    <div class="form-group invalid">
                        <label asp-for="@Model.Product.Name"></label>
                        <input asp-for="@Model.Product.Name" class="form-control" />
                        @*<span asp-validation-for="@Model.Product.Name" class="text-danger"></span>*@
                    </div>


                    <div class="form-group ">
                        <label asp-for="@Model.Product.Discription"></label>
                        <input asp-for="@Model.Product.Discription" class="form-control" />
                        @*<span asp-validation-for="@Model.Product.Name" class="text-danger"></span>*@
                    </div>


                    <div class="form-group ">
                        <label asp-for="@Model.Product.Price"></label>
                        <input asp-for="@Model.Product.Price" class="form-control" />
                        @*<span asp-validation-for="@Model.Product.Name" class="text-danger"></span>*@
                    </div>


                    <div class="form-group ">
                        <label asp-for="@Model.Product.Discount"></label>
                        <input asp-for="@Model.Product.Discount" class="form-control" />
                        @*<span asp-validation-for="@Model.Product.Name" class="text-danger"></span>*@
                    </div>


                    <div class="form-group ">
                        <label asp-for="@Model.Product.Catigory"></label>
                        @Html.DropDownListFor(m => m.Product.FK_CatigoryId,
                        new SelectList(Model.Catigories, "Id", "Name"),
                       "Select Category", new { @class = "form-control" })
                    </div>



                    @*<div class="form-group">
                            <ul>
                                @for (var i = 0; i < Model.PaymentTypes.Count; i++)
                                {
                                    <li>
                                        <input type="checkbox" id="@Model.PaymentTypes[i].Name" asp-for="@Model.PaymentTypes[i].IsSelected" value="@Model.PaymentTypes[i].IsSelected" checked="@Model.PaymentTypes[i].IsSelected" />
                                        <label for="@Model.PaymentTypes[i].Name">@Model.PaymentTypes[i].Name</label>
                                    </li>
                                }
                            </ul>
                        </div>*@






                    <div class="form-group">
                        <label asp-for="@Model.PaymentTypes"></label>
                        <div class="form-group__checkboxs">

                            @for (int i = 0; i < Model.PaymentTypes.Count; i++)
                            {
                                <div class="form-group__checkbox">

                                    @Html.CheckBoxFor(m => Model.PaymentTypes[i].IsSelected)
                                    @Html.DisplayFor(m => Model.PaymentTypes[i].Name)



                                    @Html.HiddenFor(m => Model.PaymentTypes[i].Name)

                                    @Html.HiddenFor(m => Model.PaymentTypes[i].Id)

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <input type="submit" class="btn btn-primary" value="Edit" />
    </form>
</div>




<script src="~/Scripts/jquery-3.4.1.min.js"></script>


